.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #9fc4e9;
    // height: 100vh;

    .header-content {
        max-width: 50%;

        h1 {
            margin: 0;
            font-size: 5em;
        }

        h2 {
            margin: 10px 0;
            font-size: 2em;
            color: #000000;
        }

        p {
            font-size: 1.2em;
            color: #ffffff;
        }

        .learn-more-button {
            margin-top: 20px;
            padding: 10px 20px;
            font-size: 1em;
            color: #ffffff;
            background-color: #4a90e2;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: #357ab8;
            }
        }
    }

    .image-container {
        position: relative;
        width: 550px; 
        height: 550px; 
        overflow: hidden;
        border-radius: 50px;

        .header-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;

            &.active {
                opacity: 1;
            }
        }
    }
}
